name: Auto Tests
on:
  push:
    branches: [main, master]

jobs:
  api-tests:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.57.0-jammy
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm ci
      - name: Run API Tests
        env:
          REPORT_NAME: api
          API_BASE_URL: ${{ secrets.API_BASE_URL }}
          TOKEN: ${{ secrets.TOKEN }}
          USERNAME: ${{ secrets.USERNAME }}
          PASSWORD: ${{ secrets.PASSWORD }}
        run: npm run test:api-critical
      - name: Upload API Test Report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30

  e2e-tests:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.57.0-jammy
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm ci
      - name: Run E2E Tests
        env:
          REPORT_NAME: e2e
          HOME_PAGE_URL: ${{ secrets.HOME_PAGE_URL }}
          LOGIN_URL: ${{ secrets.LOGIN_URL }}
          PADEL_USER_EMAIL: ${{ secrets.PADEL_USER_EMAIL }}
          PADEL_USER_PASSWORD: ${{ secrets.PADEL_USER_PASSWORD }}
          DASHBOARD_URL: ${{ secrets.DASHBOARD_URL }}
        run: npx playwright test --project='E2E Tests'
      - name: Upload E2E Test Report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: e2e-report
          path: playwright-report/
          retention-days: 30
